<div fxLayout="row" fxFlexAlign="space-between">
  <a fxFlex="auto" href="http://milliontoken.org">
    <img src="assets/logo-white-transparent.png" />
  </a>
  <div fxFlex fxLayoutAlign="space-bewtween center">
    <a href="#about" pageScroll mat-button [pageScrollEasing]="myEasing"
      >About</a
    >
    <a href="#Whitepaper" pageScroll mat-button [pageScrollEasing]="myEasing"
      >Whitepaper</a
    >
    <a href="#contact" pageScroll mat-button [pageScrollEasing]="myEasing"
      >Contact</a
    >
  </div>
</div>
